<h3>Danh sách các thành viên</h3>
<form action="users" method="get" style="float:right">
  <input type="text" name="search" id="search">
  <input type="submit" value="Tìm kiếm">
</form>
<hr/>
<table cellspacing=0>
  <tr>
    <th>Mã User</th>
    <th>Họ tên</th>
    <th>Trạng thái</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.MaUser %></td>
    <td><%= user.HoTen %></td>
    <td>
      <% if user.Active == true %>
        <%= link_to 'Kích hoạt', edit_admin_user_path(user), data: { confirm: 'Bạn có muốn ngừng kích hoạt user này ?' } %>
        <%else%>
        <%= link_to 'Không kích hoạt', edit_admin_user_path(user), data: { confirm: 'Bạn có muốn kích hoạt lại user này?' } %>
      <%end%>
    </td>
  </tr>
<% end %>
</table>
<br>

    <%= will_paginate @users %>
<br />