<% @title_page = @truong.TenTruong %>
<div class="row chitiettruong">
	<div class="three column">
		<%= image_tag @truong.Logo, :alt=>"logo"%>
	</div>
	<div class="nine column">
		<h4 class="title0"><span><%= @truong.TenTruong %></span></h4>
		<div class="mota-truong">
			<%= @truong.LienLac %><br />
			<div class="fb-like" data-href="<%= url_for(:only_path=>false) %>" data-send="true" data-width="450" data-show-faces="true" data-font="segoe ui"></div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="title">
			Thông tin chi tiết giới thiệu về trường
		</div>
		<div class="twelve column">
			<%= sanitize @truong.GioiThieu %>
		</div>
	</div>
	<div class="row">
		<div class="title">
			Các bình bầu liên quan
		</div>
			<ul class="danhsach poll-relate">
				<% @binhbau =[] %>
				<%if @truong.chi_tiet_truongs.count != 0%>
					<% @truong.chi_tiet_truongs.each do |ct_truong| %>
						<% if ct_truong.chi_tiet_binh_bau != nil%>
						<%@binhbau.push(ct_truong.chi_tiet_binh_bau.binh_bau)%>
						<%end%>
					<%end%>
					<% @binhbau.uniq.each do |bb| %>
						<li><%= link_to bb.TenBinhBau, bb %></li>
					<%end%>
				<%else%>
					<h4 class="noice-aa">Chưa có bình bầu nào.</h4>
				<%end%>
			</ul>
	</div>
	<div class="fb-like" data-href="<%= url_for(:only_path=>false) %>" data-send="true" data-width="450" data-show-faces="true" data-font="segoe ui"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu2msimPOhfXuJALCWsB4SBrIobLk9F04&sensor=false"></script>
<script>
		function initialize() {

		  	var mapOptions = {
			    zoom: 13,
			    center: new google.maps.LatLng(<%= @truong[:ToaDo] %>),
			    mapTypeId: google.maps.MapTypeId.ROADMAP,
			    mapTypeControl: true,
				    mapTypeControlOptions: {
				        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
				        position: google.maps.ControlPosition.BOTTOM_LEFT
				    },
			    panControl: true,
				    panControlOptions: {
				        position: google.maps.ControlPosition.RIGHT_CENTER
				    },
			    zoomControl: true,
				    zoomControlOptions: {
				        style: google.maps.ZoomControlStyle.SMALL,
				        position: google.maps.ControlPosition.RIGHT_CENTER
				    },
		  	}

		  	var vitri = [
						[new google.maps.LatLng(<%= @truong[:ToaDo] %>), '/truongs/<%= @truong[:id] %>', '<%= @truong[:TenTruong] %>', '<%= @truong[:Logo] %>']
						];
	  		var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);

	  		var pos = 0;
	  		for (var i = 0; i <= vitri.length - 1; i++) {
	  			setTimeout(function() {
	  				marker = new google.maps.Marker({
					    map:map,
					    draggable:false,
					    position: vitri[pos][0],
    					animation: google.maps.Animation.DROP,
					    url: vitri[pos][1],
					    title: vitri[pos][2],
					    icon: new google.maps.MarkerImage(vitri[pos][3],
				            new google.maps.Size(50, 50),
				            new google.maps.Point(0, 0),
				            new google.maps.Point(0, 0),
				            new google.maps.Size(50, 50)
				        )
				  	});
				  	google.maps.event.addListener(marker, 'click', function() { window.location.href = this.url; });
				  	pos +=1;
			  	}, i *200);
	  		};

		}

		google.maps.event.addDomListener(window, 'load', initialize);

    </script>


